<% include('../layout/header.ejs') %>
<h1>WELCOME , <%= user.name  %></h1>
<h2>image:<img src="" alt=" <%= user.image %> "></h2>
<h2>email: <%= user.email %> </h2>
<h2>mobile:<%= user.mobile %> </h2>



 


<a href="/logout">logout</a>
<% include('../layout/footer.ejs') %>   

